// colors
$blueMain: #19739F;
$blueLight: #A3C7D8;
$blueLighter: #D9EDF7;
$blueDark: #145C7F;
$greenLight: #DFF0D8;
$greenDark: #3E7E3F;
$grayLight: #CCCCCC;
$gray: #9B9B9B;

// buttons
$blueColorButton: $blueLighter;
$greenColorButton: $greenLight;

// borders
$grayLightBorder: $grayLight;
$grayBorder: $gray;