<footer class="row">
    <div class="col-xs-8 col-md-6 col-xs-offset-2 col-md-offset-3 text-center">
        <a href="#">Account Setting</a>
        <span class="footer-dot"></span>
        <a href="#">Support</a>
    </div>
</footer>
