@import "../../_shared-styles/variables";
@import "../../_shared-styles/mixins";

footer {
    border-top: 1px solid $gray;
    position: relative;
    margin-top: -65px; /* negative value of footer height */
    height: 65px;
    clear: both;
    padding-top: 20px;
    a {
        color: $blueMain;
    }
    .footer-dot {
        display: inline-block;
        height: 10px;
        width: 10px;
        background-color: $blueMain;
        @include border-radius(50%);
        margin: 0 12px;
    }
}