@import '../../_shared-styles/variables';
@import '../../_shared-styles/mixins';

.header-q360 {
    background-color: $blueMain;
    border: none;
    @include border-radius(0px);
    .navbar-header {
        a {
            color: white;
        }
    }
    #q360-header-search-settings-holder {
        .navbar-form {
            width: 30%;
            .form-group {
                width: 100%;
                i {
                    position: absolute;
                    top: 18px;
                    margin-left: 10px;
                    color: $blueLight;
                }
                input {
                    width: 100%;
                    background-color: $blueDark;
                    border: none;
                    color: white;
                    padding-left: 30px;
                    &:focus {
                        border: 1px solid $blueLight;
                    }
                }
                input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: $blueLight;
                }
                input::-moz-placeholder { /* Firefox 19+ */
                    color: $blueLight;
                }
                input:-ms-input-placeholder { /* IE 10+ */
                    color: $blueLight;
                }
                input:-moz-placeholder { /* Firefox 18- */
                    color: $blueLight;
                }
            }
        }
        #q360-header-settings {
            a.dropdown-toggle {
                padding-bottom: 10px;
                .glyphicon-cog {
                    font-size: 20px;
                    color: $blueLight;
                }
                &:focus {
                    background-color: transparent;
                    .glyphicon-cog {
                        color: white;
                    }
                }
            }
            .dropdown-submenu {
                position: relative;
                &:hover {
                    > .dropdown-menu {
                        display: block;
                    }
                    > a:after {
                        border-left-color: black;
                    }
                }
                > .dropdown-menu {
                    top: 0;
                    right: 100%;
                    margin-top: -6px;
                    margin-right: 2px;
                    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                    border-radius: 0 6px 6px 6px;
                }
                > a:after {
                    display: block;
                    content: " ";
                    float: right;
                    width: 0;
                    height: 0;
                    border-color: transparent;
                    border-style: solid;
                    border-width: 5px 0 5px 5px;
                    //border-left-color: $color_celeste_approx;
                    margin-top: 5px;
                    margin-right: -10px;
                    border-left-color: black;
                }
            }
        }
    }
}