/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 66px; /* this needs to be bigger than footer height*/
}