<div class="container-fluid">
    <div class="home-holder row">
        <div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
            <div class="row quick-links">
                <div class="col-xs-12 col-md-4">
                    <h4>Quick Links</h4>
                </div>
                <div class="col-xs-12 col-md-8 text-right text-sm-left">
                    <a class="advanced-vessel-search-button" routerLink="/advanced-vessel-search">
                        <i class="glyphicon glyphicon-search"></i>
                        Advanced Vessel Search</a>
                    <a class="my-fleet-search-button" routerLink="/my-fleet-search">
                        <i class="glyphicon glyphicon-search"></i>
                        My Fleet List</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-7 my-drafts">
                    <ngx-datatable
                            class="home-component"
                            [rows]="rows"
                            [columnMode]="'force'"
                            [rowHeight]="45"
                            [scrollbarV]="true">
                        <ngx-datatable-column name="My drafts">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div class="datatable-header-row">{{column.name}}</div>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div>{{row.name}}</div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Vessel Name">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div class="datatable-header-row">{{column.name}}</div>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div class="vessel-name-holder">
                                    <span>{{row.vesselName | truncate : 15}}</span>
                                    <a class="edit-draft-button" href="{{row.id}}#">Edit</a>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <div class="col-xs-12 col-md-5 recently-consulted-vessel">
                    <ngx-datatable
                            class="home-component"
                            [rows]="rows"
                            [columnMode]="'force'"
                            [rowHeight]="45"
                            [scrollbarV]="true">
                        <ngx-datatable-column name="Vessel Name">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <div class="datatable-header-row">{{column.name}}</div>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div class="vessel-name-holder">
                                    <span>{{row.vesselName | truncate : 25}}</span>
                                    <a class="edit-draft-button" href="{{row.id}}#">View</a>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>