@import '../_shared-styles/mixins';
@import '../_shared-styles/variables';

.home-holder {
    .quick-links {
        height: 80px;
        padding-top: 20px;
        margin-bottom: 20px;
        h4 {
            font-size: 22px;
        }
        > div {
            height: 60px;
        }
        i {
            border-right: 1px solid $grayLightBorder;
            margin-right: 10px;
            line-height: 2;
            padding-right: 10px;
            padding-top: 2px;
        }
        .advanced-vessel-search-button {
            cursor: pointer;
            background-color: $greenColorButton;
            @include border-radius(4px);
            padding: 12px 10px 10px 15px;
            border: solid 1px $grayLightBorder;
            color: $greenDark;
            font-size: 16px;
            &:hover {
                text-decoration: none;
                background-color: darken($greenColorButton, 10%);
            }
        }
        .my-fleet-search-button {
            cursor: pointer;
            background-color: $blueColorButton;
            @include border-radius(4px);
            padding: 12px 85px 10px 15px;
            border: solid 1px $grayLightBorder;
            color: $blueDark;
            font-size: 16px;
            &:hover {
                text-decoration: none;
                background-color: darken($blueColorButton, 10%);
            }
        }
    }
    .my-drafts, .recently-consulted-vessel {
        .panel-body {
            padding-left: 0;
            padding-right: 0;
        }
        .draft-heading {
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            font-weight: bold;
            padding: 0 15px;
        }
        .draft-lines-holder {
            max-height: 450px;
            overflow: scroll;
            padding: 0 15px;
            .draft-lines {
                border-top: 1px solid $grayLightBorder;
                height: 45px;
                line-height: 45px;
                .edit-draft-button {
                    float: right;
                    border: 1px solid;
                    height: 35px;
                    line-height: 35px;
                    margin-right: 2px;
                    margin-top: 5px;
                    padding: 0 15px;
                    @include border-radius(4px);
                }
            }
        }
        .ngx-datatable.home-component {
            height: 600px;
            box-shadow: none;
            border: solid 1px $grayLightBorder;
            box-shadow: none;
            @include border-radius(4px);
            .datatable-header {
                height: 45px !important;
                font-size: 16px !important;
                font-weight: bold;
                .datatable-header-cell {
                    vertical-align: bottom;
                    padding: 0.75rem;
                    border-bottom: 1px solid #d1d4d7;
                    .datatable-header-cell-label {
                        line-height: 24px;
                    }
                }
            }
            .datatable-body {
                padding-bottom: 20px;
                .datatable-body-row {
                    padding: 0.75rem;
                    vertical-align: middle;
                    border-top: 1px solid #d1d4d7;
                    &:hover {
                        background-color: $blueLighter;
                        .edit-draft-button {
                            background-color: white;
                        }
                    }
                    &.active {
                        background-color: #1483ff;
                        color: #FFF;
                    }
                    .datatable-body-cell {
                        text-align: left;
                        vertical-align: middle;
                        line-height: 35px;
                        .vessel-name-holder {
                            .edit-draft-button {
                                cursor: pointer;
                                float: right;
                                border: 1px solid;
                                height: 30px;
                                line-height: 30px;
                                margin-right: 20px;
                                margin-top: 0px;
                                padding: 0 15px;
                                @include border-radius(4px);
                            }
                        }
                    }
                }
            }
        }
    }
}
